body,h1,h2,h3,h4,h5,ol,ul,p,dd,dl,p,li,input,button {padding:0;margin:0;}
li {list-style:none;}
a {text-decoration:none;}
img {border:0;}
body {
	font-family:'黑体';
	color:#333;
}
html {background:#eee;}

#header {
	width:100%;
	height:42px;
	background: #22292c;
	position:fixed;left:0;top:0;
	font-stretch:normal;
}
#header h2 {
	width:100%;
	height:42px;
	text-align:center;
	line-height:42px;
	font-size:20px;
	color:#fff;
}
.return {
	width:56px;
	height:42px;
	position:absolute; left:0; top:0;
	background: url(../img/return_bg.jpg) no-repeat left;
	background-size:42px 56px;
}
.sharing {
	width:36px;
	height:42px;
	position:absolute;right:0;top:0;
	background:url(../img/sharing_bg.jpg) no-repeat left;
	background-size: 42px 36px;
	border:0;
}
.sharing_option {
	display:none;
	width:80px;
	height:100px;
	font-size:10px;
	position:absolute;right:0;top:42px;
}
.sharing_option a {
	color:#fff;
	width:50px;
	height:25px;
}

#banner_main img {
	width:100%;
	height:100%;
}

#footer {
	width:100%;
	height:49px;
	position:fixed;left:0;bottom:0;
	background: #121620;
}
#footer li{
	width:20%;
	height:49px;
	float:left; 
	background-position:50% 
}

.footer_btn1 {
	background: url(../img/footer-li1.gif) no-repeat;
	background-size:24px 22px;
}
.footer_btn2 {
	background: url(../img/footer-li2.gif) no-repeat;
	background-size:24px 22px;
}
.footer_btn4 {
	background: url(../img/footer-li4.gif) no-repeat;
	background-size:24px 22px;
}
.footer_btn5 {
	background: url(../img/footer-li5.gif) no-repeat;
	background-size:24px 22px;
}
.footer_btn3 {
	background: url(../img/footer-li3.gif) no-repeat;
	background-size:27px 27px;
}


#menu {
	width:100%;
	height:130px;
	background: #3b699d;
	opacity:0.8;
	position:absolute;left:0;bottom:49px;
	display:none;
}

#menu dl {
	width:100%;
	height:65px;
}
#menu dd {
	width:33%;
	height:32px;
	float:left;
	border-right:1px solid #ccc;
	margin-top:17px;
	font-size:10px;
	text-align:center;
}
#menu a {
	color:#fff;
}
#menu p {
	font-size:13px;
}
.menu_r {
	border:0;
}
#footer li a {
	display:inline-block;
	width:100%;
	height:49px;
}
.product_top {
	height:140px;
	overflow:hidden;
	position:relative;
	z-index:1;
}
.product_box {
	position:relative;
	height:140px;

}
.product_box img {
	width:100%;
	height:100%;
	position:absolute;left:0;top:0;
	opacity:0;
}
#product,#test_last,#test_result,#test_level,#test_select,#team,#team_member,#news,#news_detail {
	width:100%;
	height:100%;
	margin:42px 0 49px 0;
}

.product_top ul {
	width:50px;
	height:3px;
	position:absolute;left:45%;bottom:5px;
	z-index:10;
}
.product_top li {
	width:8px;
	height:3px;
	margin-right:2px;
	background: #5483a4;
	float:left;
}
.product_main ul{
	padding-left:10px;
}
.product_main li {
	width:100%;
	height:127px;
	border-bottom:1px solid #ccc;
	background: #eee;
}
.product_main h2 {
	width:100%;
	height:53px;
	font-size:18px;
	line-height:53px;
}
.product_main img {
	width:26%;
	height:47%;
	float:left;
}
.product_main p {
	width:71%;
	height:47%;
	float:left;
	font-size:15px;
	line-height:22px;
	margin-left:3%;
}

.tip {
	display:inline-block;
	width:36px;
	height:15px;
	background: url(../img/porduct-li.jpg) no-repeat;
	background-size:36px 15px;
	float:right;
	margin:22px 10px 0 0;
}

.test_last {
	position:relative;
}

.test_last-top {
	width:100%;
	height:44px;
	background:#2995e8;
	overflow:hidden;
}
.test_last-top p {
	width:70px;
	height:34px;
	background: url(../img/exam_top.jpg) no-repeat;
	background-size: 70px 34px;
	margin:5px auto 0 auto;
	text-align:center;
	line-height:34px;
	font-size:15px;
	color:#fff;
}


.test_last_tip {
	width:100%;
	height:60px;
	overflow:hidden;
	text-indent:10px;
	border-bottom:1px solid #ccc;
}

.test_last_tip h3 {
	width:100%;
	height:37px;
	font-size:15px;
	line-height:37px;
}

.test_last_tip p {
	height:23px;
	font-size:12px;
}

.test_last_title {
	height:135px;
	background: #dbf5ff;
	overflow:auto;
	border-bottom:1px solid #ccc;
}
.test_last_title p {
	font-size:18px;
	line-height:27px;
	margin:11px 21px 0 10px;
}


.test_last_foot  {
	height:250px;
}
.test_last_foot ul {
	height:140px;
	margin:20px 0 0 10px;
}
.test_last_foot li {
	width:100%;
	height:35px;
	font-size:15px;
	text-indent:5px;
}
.test_last_foot input {
	width:16px;
	height:16px;
	float:left;
	margin-top:2px;
}

.test_last_foot button {
	width:160px;
	height:40px;
	margin:18px 25%;
	display:inline-block;
	background:url(../img/exam_botton.jpg)  no-repeat;
	background-size:160px 40px;
	border:0;
	font-size:15px;
	color:#fff;
}
.test_last_foot a {
	display:inline-block;
	width:16px;
	height:16px;
	float:left;
}

.test_last_topic {
	height:50px;
	background: #dbf5ff;
	overflow:auto;
	border-bottom:1px solid #ccc;
}
.test_last_topic p {
	height:50px;
	line-height:50px;
	font-size:18px;
	margin-left:10px;
}

.test_page {
	width:100%;
	display:none;
	position:absolute;left:0;top:147px;
}

.test_result_top {
	height:175px;
	background:url(../img/result_top_bg.jpg) no-repeat;
	background-size:320px 175px;
	background-position:50% 50%;
	overflow:hidden;
}
.test_result_main {
	width:180px;
	height:127px;
	margin:18px auto;
	text-align:center;
	line-height:127px;
}
.test_result_main span {
	font-size:20px;
	color:#ff5e48;
}
#test_result_fen {
	font-size:60px;
	font-weight:bold;
}
#test_result h2 {
	height:30px;
	font-size:15px;
	line-height:30px;
	text-indent:3.1%;
	background:#fff;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.test_result_solution li {
	height:100%;
	color:#ff4a19;
	text-indent:3.1%;
}
.test_result_solution p {
	height:42px;
	line-height:42px;
	font-size:18px;
	margin-top:8px;
}
.test_result_solution span {
	font-size:15px;
	display:block;

}
.test_result_solution h3 {
	height:50px;
	font-size:18px;
	line-height:50px;
	background:#dbf5ff;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;

}
.test_solution_color {
	color:#367c08;
}
.test_result_show {
	height:30px;
	border-top:1px solid #ccc;
	background: #fff;
	font-size:15px;
	color:#333;
	line-height:30px;
	margin-top:13px;
}
.test_result_show span {
	float:right;
	margin-right:10px;
	text-indent:0pc;

}
.test_result_option {
	height:98px;
	display:none;
	border-top:1px solid #ccc;
	
}
.test_result_option p {
	line-height:27px;
	padding-left:10px;
	font-size:15px;
	color:#333;
}
.test_level_main {
	width:100%;
	height:455px;
	margin:0 auto;
	background: #3091b3 url(../img/test.gif)no-repeat;
	background-size:100%;
	background-position:50%;

}

.test_level_main p {
	height:72px;
	line-height:72px;
	font-size:18px;
	color:#fff;
	text-align:center;
}
.test_level_main a {
	width:98px;
	height:98px;
	display:block;
	font-size:20px;
	color:#fff;
	background-size:98px 98px;
	text-align:center;
	line-height:98px;
}

.test_level_btn1 {
	background:url(../img/test_level_btn1.gif) no-repeat;
	margin:0 auto ;
}
.test_level_btn2 {
	background:url(../img/test_level_btn2.gif) no-repeat;
	margin:21px auto ;
}
.test_level_btn3 {
	background:url(../img/test_level_btn3.gif) no-repeat;
	margin:0 auto ;
}

.test_selest_main ul{
	width:320px;
	height:100%;
	margin:0 auto;
	overflow:hidden;
}
.test_selest_main li {
	width:300px;
	height:70px;
	margin:10px 0 0 10px;
	background:url(../img/test_main.jpg) no-repeat;
	background-size:300px 70px;
}
.test_selest_main p {
	width:300px;
	height:41px;
	text-align:center;
	line-height:41px;
}
.test_selest_main span{
	display:block;
	text-align:center;
}

.team_main {
	margin:0 auto;
	height:100%;
	overflow:hidden;
}

.team_main dl {
	width:300px;
	height:138px;
	margin:0 auto;

}
.team_main dd {
	width:150px;
	height:138px;
	float:left;
	text-align:center;
}
.team_main img {
	display:block;
	width:90px;
	height:90px;
	margin-left:30px;
	border-radius: 90px;
}
.team_main a {
	color:#333;
}
.team_main span {
	line-height:48px;
	font-size:18px;
}
#team_main_top {
	margin:30px auto 0 auto;
}

.team_member_top {
	height:180px;
	background:#2978e0 url(../img/team_mamber_topbg.gif) no-repeat;
	background-position:50% bottom;
	background-size:100%;
	text-align:center;
	overflow:hidden;
}
.team_member_top img {
	display:block;
	width:90px;
	height:90px;
	margin:25px auto 7px auto;
	border-radius:90px;
	border:4px #fff solid;
}
.team_member_top span {
	font-size:18px;
	color:#fff;
}

#team_member h2 {
	height:59px;
	font-size:20px;
	line-height:59px;
	text-align:center;
	border:1px #ccc solid;
}
#team_member p {
	width:288px;
	margin:12px auto 0px auto;
	line-height:32px;
	text-indent:2em;
	padding:0 22px 0 10px;

}
.news_top {
	height:49px;
	background:#2995e8;
	overflow:hidden;
}

.news_top ul{
	width:89%;
	height:32px;
	margin:7px auto;
	border-radius:5px;
	border:1px solid #0080e2;
}
.news_top li {
	width:33%;
	height:32px;
	float:left;
	text-align:center;
	line-height:32px;
	
	font-size:18px;
}
.news_top a  {
	color:#fff;
}
.news_top_btn1 {
	border-left:1px solid #0080e2;
	border-right:1px solid #0080e2;
}


.news_main h3 {
	height:30px;
	background:#fff;
	font-size:18px;
	color:#006bbe;
	padding-left:3.1%;
	line-height:30px;
	border-bottom:1px #ccc solid;
}
.news_main span {
	width:30%;
	height:30px;
	display:inline-block;
	float:right;
	text-align:center;
	font-size:15px;
	margin-right:3.1%;
	text-align:right;
}
.news_main a {
	color:#666;
}

.news_main ul {
	height:243px;
}
.news_main li {
	height:60px;
	border-bottom:1px #ccc solid;
	line-height:60px;
	text-indent:3.1%;
	font-size:18px;
}
.news_main span {
	font-size:12px;
	color:#999;
}
.news_main h4{
	height:30px;
	background:#fff;
	font-size:18px;
	color:#337f00;
	padding-left:3.1%;
	line-height:30px;
	border-bottom:1px #ccc solid;
}

.news_detail_header {
	height:71px;
	border-bottom:1px #ccc solid;
	text-indent:3.1%;
}

.news_detail_header h2 {
	height:42px;
	line-height:42px;
	font-size:22px;
	padding-top:8px;
	
}
.news_detail_header p {
	font-size:10px;

}

.news_detail_main p {
	font-size:18px;
	line-height:32px;
	padding:0 3.1%;
	text-indent:2em;
}




















